GuessItem {
    height: 1;
    width: 100%;
    content-align: left middle;
    text-style: bold;
}

#guess-row {
    width: 100%;
    height: 1;
    color: $text;
    text-align: left;
    text-style: bold;
}